@model AccesoDB.Response.TitulosResponse
<body class="body-style">
    <div class="jumbotron jumbotron-style-body">
        <section class="content content-style">
            <span class="input input--hoshi">
                <input class="input__field input__field--hoshi" type="text" id="input-buscar">
                <label class="input__label input__label--hoshi input__label--hoshi-color-1" for="input-4">
                    <span class="input__label-content input__label-content--hoshi">Buscar...</span>
                </label>
            </span>
            @Html.Partial("Partial/listado", Model)
           
        </section>
    </div>
</body>
