<header>
    <div class="jumbotron jumbotron-style-header">
        <h2 class="h1-header-style" style="text-align: center; color: slateblue">CodingChallenger: Buscardor de Acciones y Bonos</h2>
    </div>
</header>
