

.input {
    position: relative;
    z-index: 1;
    display: inline-block;
    max-width: 600px;
    width: calc(100% - 2em);
    vertical-align: top;
}

.input__field {
    position: relative;
    display: block;
    float: right;
    padding: 0.8em;
    width: 60%;
    border: none;
    border-radius: 0;
    background: #f0f0f0;
    color: #aaa;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-appearance: none; /* for box shadows to show on iOS */
}

    .input__field:focus {
        outline: none;
    }

.input__label {
    display: inline-block;
    padding: 0 1em;
    width: 40%;
    color: #6a7989;
    font-weight: bold;
    font-size: 70.25%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.input__label-content {
    position: relative;
    display: block;
    padding: 1.6em 0;
    width: 100%;
}

.graphic {
    position: absolute;
    top: 0;
    left: 0;
    fill: none;
}

.icon {
    color: #ddd;
    font-size: 150%;
}

.input--hoshi {
    overflow: hidden;
    margin-right: 600px;
    margin-top: -40px;
}

.input__field--hoshi {
    margin-top: 1em;
    padding: 1.0em 0.15em;
    width: 100%;
    background: transparent;
    color: #595F6E;
    font-size: 16px;
    margin-right: 0px;
    width: 600px;
    max-width: 600px;
}

.input__label--hoshi {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0.25em;
    width: 100%;
    height: calc(100% - 1em);
    text-align: left;
    pointer-events: none;
}

.input__label-content--hoshi {
    position: absolute;
}

.input__label--hoshi::before,
.input__label--hoshi::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 10px);
    border-bottom: 1px solid #B9C1CA;
}

.input__label--hoshi::after {
    margin-top: 2px;
    border-bottom: 4px solid red;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.input__label--hoshi-color-1::after {
    border-color: hsl(260, 100%, 50%);
}

.input__label--hoshi-color-2::after {
    border-color: hsl(160, 100%, 50%);
}

.input__label--hoshi-color-3::after {
    border-color: hsl(20, 100%, 50%);
}

.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
    -webkit-animation: anim-1 0.3s forwards;
    animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }

    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -40%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40%, 0);
        transform: translate3d(0, -40%, 0);
    }
}

@keyframes anim-1 {
    50% {
        opacity: 0;
        -webkit-transform: translate3d(1em, 0, 0);
        transform: translate3d(1em, 0, 0);
    }

    51% {
        opacity: 0;
        -webkit-transform: translate3d(-1em, -40%, 0);
        transform: translate3d(-1em, -40%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translate3d(0, -40%, 0);
        transform: translate3d(0, -40%, 0);
    }
}

.container {
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

.content {
    font-size: 150%;
    padding: 0.5em 0;
}

    .content h2 {
        opacity: 0.5;
        margin-bottom: 20px;
        color: slateblue
    }

    .content h3 {
        opacity: 1;
        margin-bottom: 20px;
        color: slateblue;
        margin-top: 0px;
    }

    .content p {
        font-size: 0.65em;
        text-align: justify;
    }

.bgcolor-1 {
    background: #f0efee;
}

.item-list-style {
    width: 600px;
    text-align: left;
    background-color: transparent;
    height: 32px;
    font-size: 12px;
    line-height: initial;
    padding: 8px 14px;
    display: block;
}

.panel-style {
    max-width: 800px;
    min-width: 100px;
}

.panel-header-style {
    max-height: 32px;
    padding: 0px;
}

.panel-body-style {
    height: 80px;
    padding: 5px;
}

.row-content {
    padding-left: inherit;
    padding-right: inherit;
    padding-top: inherit;
    padding-bottom: inherit;
}

.hiden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.body-style {
    padding-top: 10px;
    padding-bottom: 0px;
}

.h1-header-style {
    padding: 20px;
    margin-top: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.jumbotron-style-header {
    max-height: 120px;
    margin-bottom: 10px;
    padding: 0px;
}

.jumbotron-style-body {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.button-style {
    padding: 0px;
    margin-bottom: 2px;
}

.row-body-style {
    max-height: 32px;
}

.pagination-ul {
    margin: 0px;
}
.nav-style {
    max-height: 44px;
}

.content-style {
    padding-bottom: 0px;
    padding-top: 35px;
}