USE [master]
GO
/****** Object:  Database [IOLdb]    Script Date: 25/5/2017 8:18:56 p. m. ******/
CREATE DATABASE [IOLdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'IOLdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\IOLdb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'IOLdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.SQLEXPRESS\MSSQL\DATA\IOLdb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [IOLdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [IOLdb]
GO
USE [IOLdb]
GO
/****** Object:  Table [dbo].[ITEM_TITULO]    Script Date: 25/5/2017 8:18:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_TITULO](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Simbolo] [varchar](50) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
	[PrecioApertura] [decimal](18, 3) NULL,
	[Minimo] [decimal](18, 3) NULL,
	[Maximo] [decimal](18, 3) NULL,
	[UltimoCierre] [decimal](18, 3) NULL,
	[FK_Item_Titulo_Type] [bigint] NOT NULL,
 CONSTRAINT [PK_ITEM_TITULO] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ITEM_TITULO_TYPE]    Script Date: 25/5/2017 8:18:56 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ITEM_TITULO_TYPE](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ITEM_TITULO_TYPE] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[ITEM_TITULO]  WITH CHECK ADD  CONSTRAINT [FK_ITEM_TITULO_ITEM_TITULO_TYPE] FOREIGN KEY([FK_Item_Titulo_Type])
REFERENCES [dbo].[ITEM_TITULO_TYPE] ([Id])
GO
ALTER TABLE [dbo].[ITEM_TITULO] CHECK CONSTRAINT [FK_ITEM_TITULO_ITEM_TITULO_TYPE]
GO
USE [master]
GO
